.DS_Store
Thumbs.db

# Editor swap files
*.swp
*.swo

# Python and virtualenv
__pycache__/
*.py[cod]
/.venv/

# Local working directories
/.ansible/
/.cache/
/.tmp/

# Ansible runtime artifacts
*.retry
ansible.log
*.vault-pass
*.vault-pass.txt

# Chezmoi local-only artifacts
/chezmoi/.git/
/chezmoi/.chezmoi.toml
/chezmoi/.chezmoi.toml.tmpl
/chezmoi/**/dot_git/**
