[user]
    name = {{ .git.name | quote }}
    email = {{ .git.email | quote }}

[init]
    defaultBranch = main

[pull]
    rebase = false

[core]
    editor = nvim

[url "git@github.com:"]
    insteadOf = https://github.com/
